@{
    ViewBag.Title = "系统配置管理";
}
<div id="content-header">
    <div id="breadcrumb">
        <a href="/" title="首页" class="tip-bottom"><i class="icon-home"></i> 首页</a>
        <a href="/PlateSetting/Index" title="@ViewBag.Title" class="tip-bottom"><i class="icon-home"></i>@ViewBag.Title</a>
        <a href="/PlateSetting/Create" class="tip-bottom">新增</a>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-content nopadding">
                    <form class="form-horizontal" id="form-horizontal" url="/PlateSetting/Create" action="" method="post">
                        <div class="control-group">
                        </div>
                        <div class="control-group">
                            <label class="control-label">键：</label>
                            <div class="controls">
                                <input type="text" name="Key" class="span7" placeholder="" isNot="true" verify="isAll" msg="键不能为空！" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">标签：</label>
                            <div class="controls">
                                <input type="text" name="Tag" class="span7" placeholder="" isNot="true" verify="isAll" msg="标签不能为空！" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">值：</label>
                            <div class="controls">
                                <input type="text" name="Value" class="span7" placeholder="" isNot="true" verify="isAll" msg="值不能为空！" />
                            </div>
                        </div>

                        <div class="form-actions">
                            <label class="control-label">&nbsp;&nbsp;</label><button type="submit" class="btn btn-success">保存</button>&nbsp;&nbsp;&nbsp;&nbsp;
                            <a class="btn btn-primary goLastPage">返回上一页</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--表单验证-->
<script src="~/js/Validate/jquery.form.min.js"></script>
<script src="~/js/Validate/jquery.ruiValidate.js"></script>
<script src="~/js/jquery.datetimepicker.js"></script>
<script type="text/javascript">
    //实例化编辑器
    //descriptionEditor.setSource(document.getElementById("XHEditor_Hidden_Text").value);
    $(function () {

        //表单验证
        if ($(".form-horizontal").size() > 0) {
            var _FormValidate = new $.rui_validate();
            _FormValidate.initload();
            _FormValidate.initForm({
                FormObj: $(".form-horizontal").eq(0),
                FormIdName: 'form-horizontal',
                //ShowTip: "Highlights",
                SubBtn: 'btn btn-success',   //提交按钮的class
                CallBack: ""
            });
        }
    });
</script>