<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <caching>
            <profiles>
                <add extension=".png" policy="DontCache" kernelCachePolicy="DontCache" />
                <add extension=".gif" policy="DontCache" kernelCachePolicy="DontCache" />
                <add extension=".jpeg" policy="DontCache" kernelCachePolicy="DontCache" />
                <add extension=".jpg" policy="DontCache" kernelCachePolicy="DontCache" />
            </profiles>
        </caching>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
